In [26]:
import openai
import os
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("../data/data_v2.csv")
data.raw_text.fillna('' , inplace=True)
data.ocr_res.fillna('',inplace=True)

data['full_text'] = (data.raw_text + '\n' + data.ocr_res)

In [5]:
#os.environ["OPENAI_API_KEY"] = "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"

openai.api_key = "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"
#openai.api_key = os.getenv('OPENAI_API_KEY')
# Set up the model and prompt
model_engine = "text-davinci-003"
question = """
extract the following fields from the text: job title, company name, salary, location, job type, years of experience, and required skills as keywords, if no info were found set field to none:
"""
job_post = ''
prompt = ""

In [8]:
latest_idx = 285
responses = np.empty(data.full_text.shape , dtype='O')

0

In [9]:
for i in range(latest_idx,data.shape[0]):
    job_post = data.full_text.values[i]
    if job_post is np.nan:
      responses[i] = ''
      continue
    if job_post == '':
      responses[i] = ''
      continue
    try:
      completion = openai.Completion.create(
      engine=model_engine,
      prompt=question + '\n' + job_post + '\n',
      max_tokens=500,
      n=1,
      stop=None,
      temperature=0)
      responses[i] = completion.choices[0].text
    except:
      responses[i] = 'Exception'
    

    
    latest_idx = i
    print(i)
    if i%100==0:
        print(i)

' #career #jobposting \n#SeniorDeveloper #JuniorDeveloper #PHP #Laravel #SQL #UI #Javascript #HTML5 #CSS #Bootstrap #JQuery #React #Angular #CV #ProjectURL #SyrianProgramming'

In [54]:
res1 = pd.read_csv("../data/responses.csv")
res2 = pd.read_csv("../data/responses3.csv")

In [55]:
res1.notna().sum()

0    285
dtype: int64

In [56]:
res2.notna().sum()

0    607
dtype: int64

In [57]:
res = res1[:285]
res = pd.concat([res , res2[285:]])

In [59]:
res.isna().sum()

0    0
dtype: int64

In [60]:
res.columns = ['chatgpt_response']
res.to_csv("../data/chatgpt_response.csv" , index=False)

In [61]:
data = pd.read_csv("../data/data_v2.csv")
data.ocr_res.fillna('' , inplace=True)
data.raw_text.fillna('' , inplace=True)
data['full_text'] = data.raw_text + '\n' + data.ocr_res

In [62]:
data.to_csv("../data/data_v3.csv",index=False)

In [48]:
data.isna().sum()

id                 0
date               0
date_unixtime      0
photo            184
width            152
height           152
text             160
text_entities      0
raw_text           0
type               0
ocr_res            0
full_text          0
dtype: int64

In [50]:
data.loc[data.text.isna() & data.photo.isna()].shape

(13, 12)

In [30]:
import numpy as np

rand = np.random.randint(0,res.shape[0])
print(f'Job Post: {data.iloc[rand].full_text}')
print('-'*40)
print(f'ChatGPT res: {res.iloc[rand].description}')
display(Image.open("../data/"+data.iloc[rand].photo))

Job Post: nan
----------------------------------------
ChatGPT res:
Job Title: Software Engineer
Company Name: ABC Corporation
Salary: None
Location: San Francisco, CA
Job Type: Full-time
Years of Experience: 5+
Required Skills: Java, JavaScript, HTML, CSS

TypeError: can only concatenate str (not "float") to str

In [43]:
data.iloc[rand]

id                              2398
date             2022-12-01 09:09:27
date_unixtime             1669878567
photo                            NaN
width                         1269.0
height                        1277.0
text                             NaN
text_entities                     []
raw_text
type                           empty
ocr_res
full_text                         \n
Name: 819, dtype: object

In [33]:
data.raw_text.isna().sum()

160

In [34]:
data.ocr_res.isna().sum()

186

In [53]:
data.loc[(data.raw_text=='') & (data.ocr_res == '')].shape

(15, 12)

In [42]:
(data.raw_text + '\n' + data.ocr_res)

0      Job Title:#senior and a junior #developer\n \n...
1      Job Title:#cashier\nJob Type: #full_time\n \nش...
2      Company: #National_Technology_Group #NTG)\nJob...
3      Job title: #Employees for Operations Departmen...
4      https://www.facebook.com/384708578676644/posts...
                             ...
887    مرحباً جميعاً \nبدء استقبال الطلبات لمنحة #الل...
888    🔵Job Title: #React JS Developer\nJob location:...
889    \nJolgi online Send CV to: ozahraldeen@gmail.c...
890    🧩Company: #YouTube group \nJob title: #YouTube...
891    ورشة عمل مجانية في إنترنت الأشياء\n\nبالتعاون ...
Length: 892, dtype: object

In [40]:
data.

id                                                            2471
date                                           2022-12-28 13:29:21
date_unixtime                                           1672226961
photo                    photos/photo_1911@28-12-2022_13-29-21.jpg
width                                                       1131.0
height                                                      1172.0
text                                                           NaN
text_entities                                                   []
raw_text                                                       NaN
type                                                         empty
ocr_res          Jolgi online Send CV to: ozahraldeen@gmail.com...
full_text                                                      NaN
Name: 889, dtype: object